In [12]:
import pandas as pd
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [13]:
# load all the train model, scalar pickle,onehot
model = load_model('model.h5')

# load encoders and scaler

with open('onehot_encoder_gro.pkl','rb') as file:
    onehot_encoder_gro = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scalar.pkl','rb') as file:
    scaler = pickle.load(file)

In [ ]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [16]:
geo_encoded = onehot_encoder_gro.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_gro.get_feature_names_out(['Geography']))
geo_encoded_df

d:\Projects\churn_rate_ann\m\myenvname\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [26]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [27]:
#Encode categorical variable
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [29]:
# Concatination with onehot encoded data 
input_df = pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [32]:
#Scaling data

input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [33]:
# Predict Churn
prediction = model.predict(input_scaled)

1/1 [==============================] - 0s 138ms/step

In [34]:
prediction

array([[0.02162723]], dtype=float32)

In [36]:
prediction_proba = prediction[0][0]
prediction_proba

0.021627229

In [37]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.