In [1]:
import pandas as pd   
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
# we wil be considering Estimated salary as the dependent features as it has continous values.

data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [5]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
onehot_encoder_geo = OneHotEncoder(handle_unknown = 'ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [7]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [9]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [12]:
# Split the dataset in training and testing sets
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

# Scale these features
scaler= StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
# Train ANN with regression problem statement

import tensorflow as tf    
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # output layer for reqression linear activation function is used as default
])

#compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

#setup Tensorboard
log_dir = 'regressionlogs/fit/'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq = 1)

In [22]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [23]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Projects\churn_rate_ann\m\myenvname\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Projects\churn_rate_ann\m\myenvname\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 100381.3516 - mae: 100381.3516 - val_loss: 98528.8438 - val_mae: 98528.8438
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99651.2188 - mae: 99651.2188 - val_loss: 97036.1719 - val_mae: 97036.1719
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96997.7422 - mae: 96997.7422 - val_loss: 93118.5312 - val_mae: 93118.5312
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 91691.3672 - mae: 91691.3672 - val_loss: 86505.3203 - val_mae: 86505.3203
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 83890.0859 - mae: 83890.0859 - val_loss: 77925.4062 - val_mae: 77925.4062
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 74754.3594 - mae: 74754.3594 - val_loss: 69090.8516 - val_mae: 69090.8516
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 66045.5000 - mae: 66045.5000 - val_loss: 61522.9766 - val_mae: 61522.9766
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 59072.0312 - mae: 59072.0312 - val_loss: 56070.6445 - val_mae: 56070.6445
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 54613.0117 - mae: 54613.0117 - val_loss: 52977.5625 - val_mae: 52977.5625
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 52214.3086 - mae: 52214.3086 - val_loss: 51586.0547 - val_mae: 51586.0547
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51154.6797 - mae: 51154.6797 - val_loss: 51109.3086 - val_mae: 51109.3086
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50723.1562 - mae: 50723.1562 - val_loss: 50939.2227 - val_mae: 50939.2227
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50528.2266 - mae: 50528.2266 - val_loss: 50859.1641 - val_mae: 50859.1641
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50410.1172 - mae: 50410.1172 - val_loss: 50807.8359 - val_mae: 50807.8359
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50322.9492 - mae: 50322.9492 - val_loss: 50760.6211 - val_mae: 50760.6211
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50252.9570 - mae: 50252.9570 - val_loss: 50720.0430 - val_mae: 50720.0430
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50194.0234 - mae: 50194.0234 - val_loss: 50678.3867 - val_mae: 50678.3867
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50143.1484 - mae: 50143.1484 - val_loss: 50639.9570 - val_mae: 50639.9570
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50099.8633 - mae: 50099.8633 - val_loss: 50613.4844 - val_mae: 50613.4844
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50058.9492 - mae: 50058.9492 - val_loss: 50591.3750 - val_mae: 50591.3750
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 50017.7031 - mae: 50017.7031 - val_loss: 50551.8281 - val_mae: 50551.8281
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49983.7148 - mae: 49983.7148 - val_loss: 50529.3516 - val_mae: 50529.3516
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49954.6680 - mae: 49954.6680 - val_loss: 50506.2148 - val_mae: 50506.2148
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49922.8867 - mae: 49922.8867 - val_loss: 50477.3242 - val_mae: 50477.3242
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49898.9766 - mae: 49898.9766 - val_loss: 50461.5078 - val_mae: 50461.5078
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49871.2891 - mae: 49871.2891 - val_loss: 50447.1797 - val_mae: 50447.1797
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49848.4219 - mae: 49848.4219 - val_loss: 50425.9375 - val_mae: 50425.9375
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49822.4531 - mae: 49822.4531 - val_loss: 50418.9922 - val_mae: 50418.9922
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49800.0664 - mae: 49800.0664 - val_loss: 50403.0508 - val_mae: 50403.0508
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49781.0781 - mae: 49781.0781 - val_loss: 50389.9609 - val_mae: 50389.9609
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49762.0586 - mae: 49762.0586 - val_loss: 50379.5938 - val_mae: 50379.5938
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49746.4883 - mae: 49746.4883 - val_loss: 50370.3906 - val_mae: 50370.3906
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49725.7188 - mae: 49725.7188 - val_loss: 50366.1602 - val_mae: 50366.1602
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49712.4961 - mae: 49712.4961 - val_loss: 50364.5781 - val_mae: 50364.5781
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49695.4023 - mae: 49695.4023 - val_loss: 50362.3789 - val_mae: 50362.3789
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49680.0078 - mae: 49680.0078 - val_loss: 50355.8867 - val_mae: 50355.8867
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49664.1602 - mae: 49664.1602 - val_loss: 50343.6758 - val_mae: 50343.6758
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49649.8398 - mae: 49649.8398 - val_loss: 50345.0117 - val_mae: 50345.0117
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49637.3555 - mae: 49637.3555 - val_loss: 50349.1328 - val_mae: 50349.1328
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49626.5391 - mae: 49626.5391 - val_loss: 50335.5039 - val_mae: 50335.5039
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49612.4375 - mae: 49612.4375 - val_loss: 50324.4688 - val_mae: 50324.4688
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49603.2109 - mae: 49603.2109 - val_loss: 50329.5586 - val_mae: 50329.5586
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49592.7734 - mae: 49592.7734 - val_loss: 50322.7656 - val_mae: 50322.7656
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49583.1289 - mae: 49583.1289 - val_loss: 50322.5117 - val_mae: 50322.5117
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49573.7305 - mae: 49573.7305 - val_loss: 50327.0625 - val_mae: 50327.0625
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49564.1719 - mae: 49564.1719 - val_loss: 50318.1562 - val_mae: 50318.1562
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49558.1055 - mae: 49558.1055 - val_loss: 50311.2109 - val_mae: 50311.2109
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49551.9336 - mae: 49551.9336 - val_loss: 50316.5625 - val_mae: 50316.5625
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49544.6484 - mae: 49544.6484 - val_loss: 50315.6016 - val_mae: 50315.6016
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49536.5859 - mae: 49536.5859 - val_loss: 50307.2148 - val_mae: 50307.2148
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49527.7734 - mae: 49527.7734 - val_loss: 50298.0273 - val_mae: 50298.0273
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49521.2930 - mae: 49521.2930 - val_loss: 50305.9531 - val_mae: 50305.9531
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49514.0156 - mae: 49514.0156 - val_loss: 50305.7539 - val_mae: 50305.7539
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49508.4961 - mae: 49508.4961 - val_loss: 50296.1641 - val_mae: 50296.1641
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49502.2266 - mae: 49502.2266 - val_loss: 50293.6328 - val_mae: 50293.6328
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49497.9258 - mae: 49497.9258 - val_loss: 50295.7695 - val_mae: 50295.7695
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49488.8555 - mae: 49488.8555 - val_loss: 50293.7656 - val_mae: 50293.7656
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49484.4336 - mae: 49484.4336 - val_loss: 50298.7852 - val_mae: 50298.7852
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49477.9766 - mae: 49477.9766 - val_loss: 50295.2734 - val_mae: 50295.2734
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49472.3789 - mae: 49472.3789 - val_loss: 50297.6406 - val_mae: 50297.6406
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49467.3906 - mae: 49467.3906 - val_loss: 50298.9570 - val_mae: 50298.9570
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49463.7891 - mae: 49463.7891 - val_loss: 50312.1953 - val_mae: 50312.1953
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49456.4648 - mae: 49456.4648 - val_loss: 50292.0703 - val_mae: 50292.0703
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 49450.8086 - mae: 49450.8086 - val_loss: 50299.3477 - val_mae: 50299.3477
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 49444.8359 - mae: 49444.8359 - val_loss: 50294.0195 - val_mae: 50294.0195
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 49439.4492 - mae: 49439.4492 - val_loss: 50292.3945 - val_mae: 50292.3945
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 49435.9922 - mae: 49435.9922 - val_loss: 50308.5977 - val_mae: 50308.5977
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 49430.8125 - mae: 49430.8125 - val_loss: 50315.2656 - val_mae: 50315.2656
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 49427.2383 - mae: 49427.2383 - val_loss: 50305.9961 - val_mae: 50305.9961
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 49422.4531 - mae: 49422.4531 - val_loss: 50295.3164 - val_mae: 50295.3164
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 49420.3750 - mae: 49420.3750 - val_loss: 50310.4805 - val_mae: 50310.4805
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 49412.3867 - mae: 49412.3867 - val_loss: 50306.8242 - val_mae: 50306.8242
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 49412.1133 - mae: 49412.1133 - val_loss: 50316.0703 - val_mae: 50316.0703

In [24]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 22580), started 0:00:08 ago. (Use '!kill 22580' to kill it.)

In [ ]:
#Evaluate model om testdata

test_loss, test_mae =model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

train_loss = history.history['loss'][-1]
print(f'Train loss : {train_loss}')

val_loss = history.history['val_loss'][-1]
print("Validation Loss:", val_loss)

63/63 [==============================] - 0s 671us/step - loss: 50292.0703 - mae: 50292.0703
Test MAE : 50292.0703125
Train loss : 49412.11328125
Validation Loss: 50316.0703125

:

In [29]:
model.save('regression_model.h5')

d:\Projects\churn_rate_ann\m\myenvname\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(